img {
        width: 150px;
        border-radius: 80px;
        float: left;
        margin-right: 20px;
      }
      p.username {
        font-weight: bold;
        color: green;
      }
 body{
   background-color: grey;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 3.2em;
   margin: 0;
 } 
 .box{
   background-color: black;
   color: white;
 }

 .box-1{
width: 180px;
}    
.combination{
  margin: auto;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  word-spacing: 0.2em;
} 
.box-2 {
  padding: 10px;
}

 a{
  text-decoration: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}

a:hover{
  color: red;
}

.my-form{
  margin: auto;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: underline;
  word-spacing: 0.2em;
}

.o-k:hover{
  color:red;
}

.box-3{
  float: inline-end;
  box-sizing: border-box;
  padding: 10px;
  background-color: white;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  
}

.box-4{
  position: fixed;
  bottom: 680px;
  right: 75px;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.box-4:hover{
  background-color: red;
  color: white;
}
